.item-contacto{
    font-family: monospace;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 1rem;

    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1rem;
    padding: 0.5rem;
}